.home {
	/* width: 50vw; */
	/* height: 100vh; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: "30vw";
	min-width: "300px";
	height: "max-content";
}
.accord {
	/* width: "fit-content"; */
	/* min-width: "30vw"; */
	margin: "18px 0";
	border-radius: "18px";
}
/* sx={{
									width: "30vw",
									minWidth: "300px",
									height: "max-content",
									margin: "18px 0",
									borderRadius: "18px",
								}} */
