* {
	background-color: "rebeccapurple";
}
.app {
	display: "flex";
	justify-content: "center";
	align-items: "center";
	/* width: 100vw; */
	min-height: 100vh;
	flex-direction: "column";
}
@media (max-width: 480px) {
	* {
		font-size: small;
	}
	.app {
		/* margin: 0 20px; */
	}
}
